<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>

<p th:text="${person.lastName + ' ' + person.firstName + ' ' + person.patronymic + ', ' + person.yearOfBirth}">VALUE</p>

<!-- Список книг -->
<h3>Список книг:</h3>
<div th:if="${not #lists.isEmpty(books)}"> <!-- Проверка, есть ли книги -->
    <ul>
        <li th:each="book : ${books}" th:style="${book.checkReturnDate} ? 'color: red;' : 'color: green;'">
                <span th:text="${book.title}"></span>
                <span th:if="${book.checkReturnDate}"> (Просрочена)</span>
        </li>

    </ul>
</div>
<div th:unless="${not #lists.isEmpty(books)}"> <!-- Если книг нет -->
    <p>Книг нет</p>
</div>

<br/>
<hr/>
<!-- вот тут кнопка для редактирования , происходит переход на страницу для редактирования конкретнго человека-->
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Редактировать</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}"> <!-- происходит переход на страницу удаления конкретнго человека по id-->
    <input type="submit" value="Удалить"/> <!-- при нажатии этой кнопки происходит перехд по адресу выше и все -->

</form>

<a th:href="@{/people}">Назад</a>

</body>
</html>